<div class="modal fade" id="people-overlay">
    {{#with person}}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close">&times;</button>
                <h4 class="modal-title">
                    {{Voornaam}} {{Achternaam}}
                    {{#if Alias}}({{Alias}}){{/if}}
                    <small>#{{[ID-nr]}}</small>
                </h4>
            </div>
            <div class="modal-body clearfix">
                {{#makeOverlayEntry "Geslacht"}}
                    {{#eq Geslacht "V"}}
                        Vrouw{{else}}Man
                    {{/eq}}
                {{/makeOverlayEntry}}

                {{#if showBirth}}
                    {{#makeOverlayEntry "Geboren"}}
                        {{[Geboorte datum]}} te {{[Geboorte plaats]}}.
                    {{/makeOverlayEntry}}
                {{/if}}

                {{#if showDeath}}
                    {{#makeOverlayEntry "Overleden"}}
                        {{[Overlijden datum]}} te {{[Overlijden plaats]}}.
                    {{/makeOverlayEntry}}
                {{/if}}

                {{#if Beroep}}
                    {{#makeOverlayEntry "Beroep"}}
                        {{Beroep}}
                    {{/makeOverlayEntry}}
                {{/if}}

                {{#if relations}}
                    {{#makeOverlayEntry "Relaties"}}
                        <ol>
                            {{#each relations as |relation|}}
                                <li>
                                    <div class="margin-bottom-10">
                                        Gehuwd met
                                        <a class="data-overlay">
                                            {{~#eq ../Geslacht "V"~}}
                                                {{relation.Man}}{{~else~}}{{relation.Vrouw}}
                                            {{~/eq~}}
                                        </a>,
                                        {{#if relation.[Huwelijks Datum]~}}
                                            op {{relation.[Huwelijks Datum]}}
                                        {{~/if~}}

                                        {{#if relation.[Huwelijks plaats]~}}
                                            te {{relation.[Huwelijks plaats]}}
                                        {{~/if~}}.
                                    </div>

                                    {{#if relation.[Relatie info]}}
                                        <div class="row">
                                            <div class="col-sm-3">
                                                Overige informatie
                                            </div>
                                            <div class="col-sm-9">
                                                <p>
                                                    {{relation.[Relatie info]}}
                                                </p>
                                            </div>
                                        </div>
                                    {{/if}}

                                    {{#if relation.[Huwelijks bron]}}
                                        <div class="row">
                                            <div class="col-sm-3">
                                                Bron
                                            </div>
                                            <div class="col-sm-9">
                                                <p>
                                                    {{relation.[Huwelijks bron]}}
                                                </p>
                                            </div>
                                        </div>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ol>
                    {{/makeOverlayEntry}}
                {{/if}}

                {{#if showParents}}
                    {{#makeOverlayEntry "Ouders"}}
                        {{#if Vader}}Vader <a class="data-overlay">{{Vader}}</a>{{/if}},
                        {{#if Moeder}}moeder <a class="data-overlay">{{Moeder}}</a>{{/if}}.
                    {{/makeOverlayEntry}}
                {{/if}}

                {{#if children}}
                    {{#makeOverlayEntry "Kinderen"}}
                        <ol>
                            {{#each children as |child key|}}
                                <li>
                                    <div class="margin-bottom-10">
                                        Uit het huwelijk met <a class="data-overlay">
                                        {{~#eq ../Geslacht "V"~}}{{child.Vader}}{{~else~}}{{child.Moeder}}{{~/eq~}}
                                    </a>, is
                                        {{#if child.[Geboorte datum]}}op {{child.[Geboorte datum]}}{{/if}}
                                        geboren {{child.Voornaam}} {{child.Achternaam}}
                                        (<a class="data-overlay">{{child.[ID-nr]}}</a>)
                                        {{#if child.[Geboorte plaats]}}te {{child.[Geboorte plaats]}}{{/if}}.
                                    </div>
                                </li>
                            {{/each}}
                        </ol>
                    {{/makeOverlayEntry}}
                {{/if}}

                {{!-- Notes are misc. data, so we show it here only if it actually exists --}}
                {{#if Aantekening}}
                    {{#makeOverlayEntry "Aantekening"}}
                        {{Aantekening}}
                    {{/makeOverlayEntry}}
                {{/if}}

                {{#if showSourcing}}
                    {{#makeOverlayEntry "Bronnen"}}
                        {{#if [Doop bron]}}
                            Doop bron: {{[Doop bron]}};
                        {{/if}}
                        {{#if [Geboorte bron]}}
                            Geboorte bron: {{[Geboorte bron]}};
                        {{/if}}
                        {{#if [Overlijden bron]}}
                            Overlijden bron: {{[Overlijden bron]}};
                        {{/if}}
                    {{/makeOverlayEntry}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/with}}
</div>
