<div class="hidden-md hidden-lg">
    <div class="alert alert-warning">
        Deze pagina valt beter te bestuderen op grotere schermen!
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        Personen
        <div class="form-group form-inline pull-right margin-bottom-zero">
            <label for="pagination_select">Toon per keer:</label>
            <select title="pagination" id="pagination_select" class="form-control">
                {{#each pagination.options}}
                    <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
                        {{this.value}}
                    </option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="panel-body">
        <div class="normalize-overflow">
            <table class="table table-responsive margin-bottom-zero">
                <thead>
                    <tr>
                        {{#each headers as |value index|}}
                            <th class="col-sm-1">{{value}}</th>
                        {{/each}}
                        <th style="width: 17px;">
                            {{!--
                                This is pretty dumb, but we need this to be here since the scroll bar
                                takes about 17px in the tbody. CSS2+ removed styling on <tr> elements,
                                so we cannot do this on the table row itself.
                            --}}
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="normalize-overflow table-wrapper">
            <table class="table table-responsive" id="person-table">
                <tbody>
                    {{#each rows as |child index|}}
                        <tr>
                            {{#each child as |value key|}}
                                <td class="col-sm-1">{{value}}</td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
                {{#if pagination.hasNextPage}}
                    <tfoot>
                        <tr>
                            <td colspan="{{headers.length}}" class="text-center">
                                <button class="btn btn-default" id="load-more">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                    Laad meer
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                {{/if}}
            </table>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-default pull-right">
            <i class="glyphicon glyphicon-download-alt"></i>
            Download CSV
        </button>
    </div>
</div>
